<template>
    <div class="d-flex flex-column fill-height">

        <v-container class="contain" style="width: 85%;">
            <div class="login_title">Вход</div>
            <form class="login_data">
                <phone-field @keypress.enter="auth" class="mb-3" autocomplete="on"
                             v-model="login"></phone-field>
                <v-fade-transition>
                    <input v-if="mode === 'auth'" @keypress.enter="auth" class="text-box"
                           autocomplete="on" type="password" v-model="password"
                           placeholder="пароль"/>
                    <div v-if="mode === 'reg_sms'">
                        <input @keypress.enter="auth" class="text-box"
                               style="outline: 0" type="text" v-model="sms" placeholder="код из смс"/>
                    </div>
                    <div v-if="mode === 'reg'">
                        <input @keypress.enter="auth" class="text-box mb-3"  autocomplete="on"
                               type="password" v-model="password" placeholder="пароль"/>
                        <input @keypress.enter="auth" class="text-box"  autocomplete="on"
                               type="password" v-model="password_confirm" placeholder="повторите пароль"/>

                    </div>
                </v-fade-transition>
            </form>
            <div v-if="mode === 'reg_sms'" class="info-text mt-2">Смс отослано на ваш номер телефона.</div>
            <div v-if="mode === 'reg'" class="info-text mt-2 flex text-with-icon">
                <v-icon class="mr-2" color="green" small>done</v-icon>
                Телефон подтвержден!
            </div>
            <div class="warning-text mt-2">{{errorText}}</div>
        </v-container>

        <v-spacer></v-spacer>
        <div class="login_actions">
            <v-btn class="mx-auto" @click="auth">Продолжить</v-btn>
        </div>

        <div class="bottom-info">
            © Copyright Artforteam
        </div>
    </div>
</template>

<script>

	import PhoneField from "../../all/PhoneField";

	export default {
		data() {
			return {
				login: '',
				password: '',
				password_confirm: '',
				mode: '',
				errorText: '',
				sms: '',
			};
		},
		created() {
		},
		methods: {
			handleAuth(data) {
				localStorage.setItem('user', JSON.stringify(data.user));
				localStorage.setItem('session', JSON.stringify(data.session));
				router.push('/');
			},
			reg() {
				router.push('/reg');
				// post(url('api/user/reg'), {login: this.login, password: this.password})
				//         .then(data => {
				//           this.errorText = '';
				//           this.handleAuth(data);
				//         })
				//         .catch(err => {
				//           this.errorText = err;
				//         })
			},
			auth() {
				if (!this.mode) {
					if (this.nonValidFields())
						return;
					post(url('api/user/check_user'), {login: this.login})
						.then(data => {
							if (!data)
								this.mode = 'reg_sms';
							else
								this.mode = 'auth';
						})
				}
				if (this.mode === 'auth') {
					post(url('api/user/auth'), {login: this.login, password: this.password})
						.then(data => {
							this.errorText = '';
							this.handleAuth(data);
						})
						.catch(err => {
							this.errorText = err;
						})
				}
				if (this.mode === 'reg_sms') {
					post(url('api/user/reg_sms'), {login: this.login, sms: this.sms})
						.then(data => {
							this.errorText = '';
							this.mode = 'reg';
						})
						.catch(err => {
							this.errorText = err;
						})
				}
				if (this.mode === 'reg') {
					if (this.password !== this.password_confirm) {
						this.errorText = 'Пароль и подтверждение пароля не совпадают.';
						return;
					}
					post(url('api/user/reg'), {login: this.login, password: this.password})
						.then(data => {
							this.errorText = '';
							this.handleAuth(data);
						})
						.catch(err => {
							this.errorText = err;
						})
				}
			},
			nonValidFields() {
				let val = this.login.replace(/[ \(\)-]/g, '');
				let match = val.match(/\+7(.{10})/g);
				if (!match) {
					this.errorText = 'Введите существующий номер';
					return true;
				}
			},
		},
		components: {
			PhoneField
		},
		watch: {
          login() {
            this.errorText = '';
            this.mode = '';
          },
          sms() {
            this.errorText = '';
          },
          password() {
            this.errorText = '';
          },
          password_confirm() {
            this.errorText = '';
          },
		}
	};
</script>

<style>

    .login_data {
        margin-top: 25vh;
    }

    .login_actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30%;
        align-items: center;
    }

    .bottom-info {
        margin-bottom: 5vh;
        color: #b7aeb1;
    }

    .reg_btn {
        margin: 30px auto;
        font-size: 14px;
        color: #3194DA;
    }

    .text-with-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
