<template>
    <div class="d-flex flex-column fill-height">
        <v-container class="contain">
            <div class="login_title">Регистрация</div>
            <form class="login_data">
                <phone-field @keypress.enter="auth" class="mb-3" style="outline: 0" autocomplete="on" v-model="login"></phone-field>
            </form>
            <div class="warning-text mt-2">{{errorText}}</div>
            <v-spacer></v-spacer>
            <div class="login_actions mt-5">
                <v-btn class="mx-auto" @click="auth">Продолжить</v-btn>
            </div>
        </v-container>
    </div>
</template>

<script>

	import PhoneField from "../../all/PhoneField";

	export default {
		data() {
			return {
				login: '',
				password: '',
				errorText: '',
			};
		},
		created() {
		},
		methods: {
			handleAuth(data) {
				localStorage.setItem('user', JSON.stringify({...data.user, ...data.session}));
				router.push('/');
			},
			reg() {
				post(url('api/user/reg'), {login: this.login, password: this.password})
					.then(data => {
						this.errorText = '';
						this.handleAuth(data);
					})
					.catch(err => {
						this.errorText = err;
					})
			},
			auth() {
				post(url('api/user/auth'), {login: this.login, password: this.password})
					.then(data => {
						this.errorText = '';
						this.handleAuth(data);
					})
					.catch(err => {
						this.errorText = err;
					})
			}
		},
		components: {
			PhoneField
		}
	};
</script>

<style>
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .login_title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }

    .login_data {
        margin-top: 20%;
    }

    .login_actions{
        display: flex;
        justify-content: space-between;
    }

    .bottom-info{
        margin-bottom: 5vh;
        color: #b7aeb1;
    }

    .reg_btn{
        margin: 30px auto;
        font-size: 14px;
        color: #3194DA;
    }
</style>
