<template>
    <div class="dialog-page">
        <div class="dialog-list">
            <div v-for="dialog in dialogs">
                <div class="dialog-container">
                    <div class="avatar" :style="`background-image: url('${dialog.photo}');`">
                    </div>
                    <div class="dialog-title">{{dialog.name}}</div>
                </div>
            </div>
        
        </div>
        <v-btn @click="logout">Выйти</v-btn>
    </div>
</template>

<script>
    
    
    export default {
        data() {
            return {
                user: App.User.get(),
                dialogs: [
                    {
                        name: 'Все крутые ребята',
                        photo: 'https://awesomereviews.ru/wp-content/uploads/2017/09/%D0%A0%D0%B8%D0%BA%D0%BE-752x440.jpg',
                    },
                    {
                        name: 'Аниме беседа',
                        photo: 'https://awesomereviews.ru/wp-content/uploads/2017/09/%D0%92%D1%81%D1%82%D1%80%D0%B5%D1%87%D0%B0.jpg',
                    },
                    {
                        name: 'Фанаты сайта pikabu',
                        photo: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_NeD0y9JkKkfKTQ405CaE_mmMco1q2Hr9R1i3mOjorY2wAZP0&s',
                    },
                    {
                        name: 'ПаДиК',
                        photo: 'http://static.animedia.tv/uploads/15420/00000007.jpg',
                    },
                    {
                        name: '≤≥',
                        photo: 'https://awesomereviews.ru/wp-content/uploads/2017/09/%D0%91%D0%B5%D0%B7-%D1%81%D0%B8%D0%BB.jpg',
                    }
                ]
            }
        },
        created() {
            get(url('user/rooms/list')).then(res => {
                console.log('rooms', res)
            })
        },
        methods: {
            logout() {
                return App.User.logout();
            }
        }
    }
</script>

<style>
    
    .dialog-page{
        height: 100vh;
        background: #bbbbbb;
    }
    .dialog-list{
        display: flex;
        flex-direction: column;
    }
    .dialog-container{
        margin: 5px 10px;
        height: 130px;
        background: linear-gradient(45deg, #727272, #bbbbbb);
        border: 2px solid black;
        border-radius: 20px;
        width: 79%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .dialog-title{
        margin: 2px 10px;
        font-weight: bold;
        font-size: 18px;
        color: white;
    }
    
    .avatar{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        left: 69%;
        margin-top: 5.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid black;
        box-shadow: -10px 0 20px rgba(0,0,0,0.5);
    }
</style>
