<template>
    <div class="d-flex flex-column fill-height">
        <div style="margin: 2%">
            <page-transition>
                <component :is="auth_pages[curr_page].component" @done="next"></component>
            </page-transition>
        </div>
        <v-spacer></v-spacer>
        
        <div class="d-flex mx-auto mb-5" style="max-width: 70px;">
            <span v-for="(page, i) in auth_pages" class="circle_page"
                  :class="i <= curr_page ? 'circle_page_active' : ''"></span>
        </div>
    </div>
</template>

<script>
    
    import NameGenderPage from "./NameGenderPage";
    import Interests from './Interests';
    import {createSimpleTransition} from "vuetify/es5/components/transitions/createTransition";
    
    const pageTransition = createSimpleTransition('page-transition');
    
    
    export default {
        data() {
            return {
                login: '',
                password: '',
                errorText: '',
                auth_pages: [
                    {
                        component: NameGenderPage,
                    },
                    {
                        component: Interests,
                    }],
                about_info: {},
                curr_page: 0,
            };
        },
        created() {
            let user = App.User.get();
            if (!user.name) return this.curr_page = 0;
            if (!user.tags || !user.tags.length) return this.curr_page = 1;
        },
        methods: {
            handleAuth(data) {
                localStorage.setItem('user', JSON.stringify({...data.user, ...data.session}));
                router.push('/');
            },
            reg() {
                post(url('api/user/reg'), {login: this.login, password: this.password})
                .then(data => {
                    this.errorText = '';
                    this.handleAuth(data);
                })
                .catch(err => {
                    this.errorText = err;
                })
            },
            auth() {
                post(url('api/user/auth'), {login: this.login, password: this.password})
                .then(data => {
                    this.errorText = '';
                    this.handleAuth(data);
                })
                .catch(err => {
                    this.errorText = err;
                })
            },
            next(data) {
                this.about_info = {...this.about_info, ...data};
                if (this.curr_page === 0) {
                    return this.updateAbout();
                }
                if (this.curr_page === 1) {
                    return this.updateTags();
                }
            },
            updateAbout() {
                post(url('user/about'), this.about_info).then((user) => {
                    localStorage.setItem('user', JSON.stringify(user));
                    this.curr_page++;
                });
            },
            updateTags() {
                post(url('user/aboutTags'), this.about_info).then((user) => {
                    localStorage.setItem('user', JSON.stringify(user));
                    router.push('/')
                });
            }
        },
        components: {
            pageTransition
        }
    };
</script>

<style>
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .login_title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }
    
    .login_data {
        margin-top: 20%;
    }
    
    .login_actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: auto;
    }
    
    .bottom-info {
        margin-bottom: 5vh;
        color: #b7aeb1;
    }
    
    .page-transition-leave-active {
        position: absolute;
        width: 100%;
    }
    
    .page-transition-enter-active, .page-transition-leave, .page-transition-enter,
    .page-transition-leave-to {
        transition: all 0.5s;
    }
    
    .page-transition-enter {
        margin-left: 100%;
    }
    
    .page-transition-leave {
        left: 0;
    }
    
    .page-transition-leave-to {
        left: -100%;
    }
</style>
