<template>
    <div class="contain-sm d-flex">
        <div class="login_title">Интересы</div>
        <div class="d-flex flex-column justify-space-between" style="height: 80vh">

            <v-slide-x-transition>
            <div v-show="mode === 'search'">

                <v-text-field v-model="search" class="text-field-bound my-5" prepend-inner-icon="search"></v-text-field>

                <v-slide-y-transition>
                <div v-show="search" >
                    <div style="overflow: hidden">
                        <div class="swiper mt-5" ref="swiper2" :style="`left: ${getLeftSearch()}px`">
                            <v-chip @click="addTag(tag)" class="mr-3" color="green" v-for="tag of found_tags">{{tag.name}}
                                <v-icon size="15px">perm_identity</v-icon>{{tag.users_count}}</v-chip>
                        </div>
                    </div>

                    <div class="info-text mt-4" @click="mode = 'add'">Нет нужного тега?</div>
                </div>
                </v-slide-y-transition>
            </div>
            </v-slide-x-transition>

            <v-slide-x-transition>
            <div v-show="mode === 'add'" class="new-tag-container">
                <div class="title_md mt-5">Новый тег</div>
                <v-text-field placeholder="Название" v-model="newTag.name" class="text-field-bound mt-5"></v-text-field>
                <v-textarea class="mt-4" v-model="newTag.desc" placeholder="Краткое описание"></v-textarea>
                <v-flex class="d-flex justify-space-around mb-2">
                    <v-btn fab icon small @click="mode = 'search'">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-btn fab icon small @click="addNewTag">
                        <v-icon>add</v-icon>
                    </v-btn>
                </v-flex>
            </div>
            </v-slide-x-transition>

            <v-spacer></v-spacer>

            <div class="title_md mt-5">Выбрано</div>
            <div class="tag-container my-5">
                <v-chip close class="mr-1 mt-1" v-for="tag of chosen_tags" outlined>{{tag.name}}</v-chip>

            </div>

            <v-btn class="mx-auto" @click="done" fab small icon>
                <v-icon>mdi-chevron-right mdi-36px</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script>

	export default {
		data() {
			return {
				chosen_tags: [],
				search: '',
				left: 0,
				currentLeft: 0,
				left2: 0,
				currentLeft2: 0,
				mode: 'search',
                newTag: {
				    name: '',
                    desc: '',
                },
                found_tags: [],
			};
		},
		mounted() {
			const manager2 = new Hammer.Manager(this.$refs.swiper2);
			const Pan2 = new Hammer.Pan();
			manager2.add(Pan2);

			manager2.on('pan', (e) => {
				this.left2 = e.deltaX;
			});
			manager2.on('panend', e => {
				this.currentLeft2 = parseInt(this.$refs.swiper2.style.left);
				this.left2 = 0;
			})
		},
        watch: {
		  search() {
		      this.found_tags = [];
		      if (this.search.length < 3)
		          return;
		      
		      get(url(`user/tags/search/${this.search}`)).then(res => {
		          this.found_tags = res;
              });
          }
        },
		methods: {
		    addNewTag() {
                post(url('api/tags/new'), {tag: this.newTag})
                .then(data => {
                    this.newTag.name = '';
                    this.newTag.desc = '';
                    alert('Тег создан')
                })
                .catch(err => {
                    alert(err)
                })
            },
			addTag(tag) {
			    this.chosen_tags.push(tag);
            },
			done() {
				this.$emit('done', {chosen_tags: this.chosen_tags})
			},
			getLeftPop() {
				let val = this.currentLeft + this.left;
				if (val > 0) return 0;
				return val;
			},
			getLeftSearch() {
				let val = this.currentLeft2 + this.left2;
				if (val > 0) return 0;
				return val;
			}
		},
	};
</script>

<style>

    .tag-container {
        display: flex;
        border: solid #727272 1px;
        border-radius: 5px;
        padding: 5px;
        height: 100px;
        min-height: 100px;
        overflow-y: auto;
        flex-wrap: wrap;
    }

    .new-tag-container {
        border: solid 1px #727272;
        border-radius: 20px;
        padding: 0 5%;
        margin-top: 10px;
    }

    .login_title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }

    .swiper {
        display: flex;

        width: 999999%;
        overflow-x: hidden;
        white-space: nowrap;
        position: relative;
    }

    .slide-x-transition-leave-active{
        position: absolute !important;
        width: 86%;
    }


</style>
