<template>
    <div class="contain d-flex">
        <div class="login_title">Немного о вас</div>
        <div class="d-flex flex-column justify-space-between" style="height: 80vh">
            <v-spacer></v-spacer>
            <div class="d-flex flex-column align-center">
                <div class="title_md">Как вас называть?</div>
                <input v-model="name" class="text-center name-field mt-5">
            </div>
            <v-spacer></v-spacer>
            
            <div>
                <div class="title_md mt-5">Пол</div>
                <div class="d-flex mt-5 justify-center">
                    <div class="switcher switcher-left" :class="gender === 0 ? 'switcher-active-p': ''"
                         @click="gender = 0">Женский
                    </div>
                    <div class="switcher switcher-right" :class="gender === 1 ? 'switcher-active-b': ''"
                         @click="gender = 1">Мужской
                    </div>
                </div>
            </div>
            <v-spacer></v-spacer>
            <div>
                <div class="title_md mt-5">Город</div>
                <div class="d-flex align-center mt-5">
                    <input v-model="city" disabled class="disabled text-center name-field ml-5"></input>
                    <v-icon class="ml-2" @click="help_city_field = !help_city_field">help</v-icon>
                </div>
                <div class="d-flex" style="height: 60px">
                    <v-slide-y-transition>
                        <div class="info-text mt-1" v-if="help_city_field">Альфа версия доступна только
                            в Челябинске. Извините :)
                        </div>
                    </v-slide-y-transition>
                </div>
            </div>
            <v-spacer></v-spacer>
            <v-btn class="mx-auto" @click="done" fab small icon>
                <v-icon>mdi-chevron-right mdi-36px</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script>
    
    export default {
        data() {
            return {
                name: '',
                gender: '',
                city: 'Челябинск',
                help_city_field: false,
            };
        },
        methods: {
            done() {
                this.$emit('done', {name: this.name, gender: this.gender, age: 0, city: this.city})
            }
        },
    };
</script>

<style>
    
    .login_title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }
    
    .switcher {
        width: 40%;
        padding: 10px 4px;
        border: solid 1px #727272;
        background: #e2e2e2;
        font-weight: bold;
        font-size: 14px;
    }
    
    .switcher-active-b {
        background: #608fc4;
    }
    
    .switcher-active-p {
        background: #d187ca;
    }
    
    .switcher-left {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: 0;
    }
    
    .switcher-right {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .name-field {
        border-bottom: solid black 1px;
        outline: 0;
        font-size: 20px;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        font-weight: bold;
        max-width: 80%;
    }
    
    .disabled {
        border-bottom: solid grey 1px;
        color: grey;
    }


</style>
