<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>

  export default {
    name: 'app',
    data: () => ({
    }),
      created() {

	  }
  };
</script>

<style>
  @import '../../styles/main.css';
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
